{% extends 'base_layout.html' %}
{% load static from static %}

{% block content %}
<section id="courses" class="section is-fullheight">
    <h2 class="has-text-centered has-text-weight-bold is-size-2 mb-6">Наши курсы</h2>
    <div class="container">
        <table class="table is-bordered is-fullwidth has-text-centered">
            <thead>
            <tr>
                <th>Course List</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
            <tr>
                <td>
                    <a href="/home">{{course}}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}



